// START: brands
.brands
    .container.container_big.brands__container
        .brands__list
            .swiper-container
                .swiper-wrapper
                    .swiper-slide.brands__item: img(src="img/simonswerk.jpg", alt="").img-responsive
                    .swiper-slide.brands__item: img(src="img/danke.jpg", alt="").img-responsive
                    .swiper-slide.brands__item: img(src="img/brisbox.jpg", alt="").img-responsive
                    .swiper-slide.brands__item: img(src="img/hoppe.jpg", alt="").img-responsive
                    .swiper-slide.brands__item: img(src="img/stis.jpg", alt="").img-responsive
                    .swiper-slide.brands__item: img(src="img/siegenia.jpg", alt="").img-responsive
            #brandsPrev.swiper-button-prev.swiper-button-black
            #brandsNext.swiper-button-next.swiper-button-black
// END: brands