// START: category big
.category-l.bg-muted
    .container.container_big
        .category-l__container(role="background")
            .row.no-gutters.flex-nowrap
                .col
                    .category-l-item.active(data-image="img/category-x.jpg" role="section")
                        .category-l-item__name Пластиковые окна
                .col
                    .category-l-item(data-image="img/house.jpg" role="section")
                        .category-l-item__name Пластиковые окна
                .col
                    .category-l-item(data-image="img/home-fs.jpg" role="section")
                        .category-l-item__name Пластиковые окна
                .col 
                    .category-l-item(data-image="img/subscribe.jpg" role="section")
                        .category-l-item__name Пластиковые окна
// END: category big