// START: footer
.main-footer
    .container.container_big
        .row
            .col-6.col-md-3.col-md-auto.col-lg-auto
                .footer-nav
                    .footer-nav__title Продукция
                    ul.footer-nav__list
                        li.footer-nav__item: a(href="#").footer-nav__link Пластиковые окна
                        li.footer-nav__item: a(href="#").footer-nav__link Безопасные окна
                        li.footer-nav__item: a(href="#").footer-nav__link Витражные окна
                        li.footer-nav__item: a(href="#").footer-nav__link Круглые окна
                        li.footer-nav__item: a(href="#").footer-nav__link Треугольные окна
                        li.footer-nav__item: a(href="#").footer-nav__link Двери ПВХ
                        li.footer-nav__item: a(href="#").footer-nav__link Перегородки
            .col-6.col-md-3.col-md-auto.col-lg-auto
                .footer-nav
                    .footer-nav__title Услуги
                    ul.footer-nav__list
                        li.footer-nav__item: a(href="#").footer-nav__link Остекленение домов
                        li.footer-nav__item: a(href="#").footer-nav__link Лоджии и балконы
                        li.footer-nav__item: a(href="#").footer-nav__link Замена стеклопакета
                    a(href="#").footer-nav__title.footer-nav__link Калькулятор <br> пластиковых окон
            .col-6.col-md-3.col-md-auto.col-lg-auto 
                .footer-nav
                    .footer-nav__title Дополнительно
                    ul.footer-nav__list
                        li.footer-nav__item: a(href="#").footer-nav__link Фурнитура
                        li.footer-nav__item: a(href="#").footer-nav__link Ламинация
                        li.footer-nav__item: a(href="#").footer-nav__link Аксессуары
                        li.footer-nav__item: a(href="#").footer-nav__link Москитная сетка
                        li.footer-nav__item: a(href="#").footer-nav__link Декоративная раскладка
                        li.footer-nav__item: a(href="#").footer-nav__link Монтаж
                        li.footer-nav__item: a(href="#").footer-nav__link Доставка
                        li.footer-nav__item: a(href="#").footer-nav__link Уборка
                        li.footer-nav__item: a(href="#").footer-nav__link Гарантия
                        li.footer-nav__item: a(href="#").footer-nav__link Рассрочка
            .col-6.col-md-3.col-md-auto.col-lg-auto
                .footer-nav
                    .footer-nav__title О компании
                    ul.footer-nav__list
                        li.footer-nav__item: a(href="#").footer-nav__link Реквизиты
                        li.footer-nav__item: a(href="#").footer-nav__link Сертификаты
                        li.footer-nav__item: a(href="#").footer-nav__link Отзывы
            .col-12.col-md.ta-right.main-footer__bottom
                ul.footer-contacts
                    li г. Брянск, пр-т Московский, д. 99с
                    li <span class="text-muted">+7 4832</span> 630-430
                    li maxi-okna@mail.ru
                .footer-copyright © 2018 «Макси-Окна» 
                a(href="https://itc-media.ru").footer-itc.
                    <svg width="158" height="28" viewBox="0 0 158 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M39.0131 21.1341V7.20432H35.6582V21.1341H39.0131ZM50.5862 21.1341V10.3314H54.2935V7.19717H43.6619V10.3314H47.2688V21.1341H50.5862ZM64.3648 21.3841C67.5063 21.3841 69.2004 19.4411 70.0341 17.6445L67.1544 16.1819C66.6737 17.3829 65.5844 18.1744 64.3648 18.2088C62.2388 18.2088 60.7365 16.4533 60.7365 14.1764C60.7365 11.8994 62.2372 10.1439 64.3648 10.1439C65.5844 10.1783 66.6737 10.9698 67.1544 12.1708L70.0424 10.7082C69.1837 8.86875 67.5063 6.9668 64.3648 6.9668C60.363 6.9668 57.3215 9.87062 57.3215 14.1746C57.3215 18.4785 60.3663 21.3841 64.3648 21.3841ZM78.0595 14.2889C78.0649 13.5804 77.6706 12.9386 77.061 12.6634C76.4515 12.3883 75.7472 12.5343 75.2775 13.0332C74.8079 13.5321 74.6658 14.2852 74.9176 14.9403C75.1695 15.5954 75.7656 16.0229 76.427 16.0229C76.8584 16.0253 77.2728 15.8438 77.5791 15.5185C77.8853 15.1932 78.0581 14.7508 78.0595 14.2889ZM97.858 21.127V7.20432H93.7717L90.3668 12.4387L87.0019 7.19717H82.93V21.127H86.2474V12.0655L90.3968 17.3838L94.5407 12.0655V21.1341L97.858 21.127ZM113.203 21.1341V17.9999H106.981V15.639H112.066V12.503H106.981V10.3314H113.203V7.19717H103.663V21.127L113.203 21.1341ZM118.863 21.1341V7.20432H124.326C128.423 7.20432 131.369 9.83669 131.369 14.1692C131.369 18.5017 128.423 21.1341 124.346 21.1341H118.863ZM124.304 17.9999C126.587 17.9999 127.914 16.2247 127.914 14.1549C127.914 12.0029 126.705 10.3314 124.324 10.3314H122.198V17.9999H124.304ZM139.325 21.1341V7.20432H136.007V21.1341H139.325ZM158 21.1341H154.196L153.546 19.1268H148.422L147.778 21.1323H143.973L148.871 7.20253H153.084L158 21.1341ZM152.636 15.9926L150.976 10.7475L149.317 15.9926H152.636Z" fill="#656565"/>
                    <path d="M2.83067 5.32876C3.78445 3.3143 7.66624 0.894449 10.9511 0.255108C13.5473 -0.244935 15.2364 0.00151448 15.2031 0.894449C15.1697 1.73381 14.2926 4.23402 13.5023 5.72701C12.4518 7.71825 10.9077 9.33982 9.44873 9.98631C8.42826 10.4381 8.28153 10.4488 7.41446 10.1417C6.36064 9.772 4.39306 8.35581 3.57935 7.36108C2.57555 6.16097 2.51219 5.98775 2.83067 5.32876Z" fill="#656565"/>
                    <path d="M17.5618 1.01469C19.6478 1.37187 23.0027 4.58642 24.5784 7.72419C25.8256 10.2137 26.1208 12.0103 25.3254 12.2531C24.5701 12.48 22.0772 12.3567 20.5098 12.0156C18.4155 11.5584 16.508 10.4869 15.4742 9.19932C14.7589 8.30638 14.7038 8.15637 14.7072 7.17593C14.7072 5.98833 15.3741 3.54348 15.9894 2.4041C16.7464 1.01648 16.8798 0.89504 17.5618 1.01469Z" fill="#656565"/>
                    <path d="M25.9472 14.6925C26.2807 16.9266 24.4649 21.3359 22.1588 23.9129C20.3246 25.9524 18.8239 26.8096 18.367 26.0721C17.9318 25.3738 17.2715 22.7968 17.0898 21.0931C16.848 18.8179 17.2065 16.5337 18.0335 15.0943C18.6121 14.0871 18.7205 13.9889 19.5943 13.6871C20.6498 13.3299 23.0242 13.237 24.2281 13.5192C25.6938 13.8603 25.8405 13.9603 25.9472 14.6925Z" fill="#656565"/>
                    <path d="M16.3983 27.4593C14.5175 28.4862 10.0404 27.9951 7.04067 26.4485C4.66624 25.2181 3.439 23.9483 3.95091 23.2536C4.43613 22.5946 6.52043 21.1249 7.97777 20.4141C9.922 19.464 12.0613 19.1247 13.597 19.5212C14.6709 19.798 14.7926 19.8783 15.3295 20.6766C15.9781 21.6392 16.7885 24.0305 16.9102 25.3449C17.057 26.945 17.0069 27.1236 16.3983 27.4593Z" fill="#656565"/>
                    <path d="M2.10535 21.6724C0.612993 20.0741 -0.335779 15.3594 0.111095 11.8287C0.469594 9.02847 1.21661 7.38726 1.99863 7.69443C2.73397 7.98553 4.68321 9.65888 5.76371 10.909C7.2027 12.6056 8.16815 14.6807 8.28654 16.3666C8.37158 17.5453 8.33656 17.6953 7.79631 18.4882C7.14268 19.4472 5.26848 21.0116 4.13962 21.542C2.76732 22.185 2.59391 22.1957 2.10535 21.6724Z" fill="#656565"/>
                    </svg>

                
// END: footer
