// START: main-header
.main-header
	.main-header__base
		.container.container_big
			.row.align-items-center
				.col-auto
					a(href="/").logo: img(src="img/logo.png", alt="").logo__img
				.d-none.d-lg-block.col
					ul.header-nav
						li.header-nav__item: a(href="calc.html").header-nav__link Калькулятор 
						li.header-nav__item: a(href="#").header-nav__link Наши работы 
						li.header-nav__item: a(href="marco.html").header-nav__link Дополнительно 
						li.header-nav__item: a(href="#").header-nav__link Акции
						li.header-nav__item.header-nav__item_parent
							a(href="#").header-nav__link Интересное
							.header-dropnav-wrapper: ul.header-dropnav
								li.header-dropnav__item: a(href="#").header-dropnav__link lorem2323
								li.header-dropnav__item: a(href="#").header-dropnav__link lorem2323
								li.header-dropnav__item: a(href="#").header-dropnav__link lorem2323
								li.header-dropnav__item: a(href="#").header-dropnav__link lorem2323
						li.header-nav__item: a(href="about.html").header-nav__link О нас 
						li.header-nav__item: a(href="#").header-nav__link Дилерам 
						li.header-nav__item: a(href="contacts.html").header-nav__link Контакты 
				.col.col-auto
					.header-info
						a(href="tel:+74832630430").header-info__phone.js-insert-tel <span class="text-muted-dark">+7 4832</span> 630-430
						.header-info__desc Время работы с 10:00 — 20:00
				.col-auto.d-lg-none.ml-auto
					button.mobile-nav-btn
						span
						span
						span
	.main-header__nav.bg-muted.d-none.d-lg-block
		.container.container_big
			ul.main-nav
				li.main-nav__item: a(href="rehau.html").main-nav__link Пластиковые окна
				li.main-nav__sep
				li.main-nav__item: a(href="#").main-nav__link Лоджии и балконы
				li.main-nav__sep
				li.main-nav__item: a(href="houses.html").main-nav__link Остекление домов
				li.main-nav__sep
				li.main-nav__item: a(href="#").main-nav__link Двери ПВХ
				li.main-nav__sep
				li.main-nav__item: a(href="#").main-nav__link Перегородки
				li.main-nav__sep
				li.main-nav__item: a(href="#").main-nav__link Рассрочка
// END: main-header