// START: home products
section.home-products.py-9
    .container
        h2.h.h_big.mb-5 Готовые изделия
        .row
            .col.col-sm-6.col-lg-4
                .home-product
                    .home-product__title Одностворчатое
                    .home-product__body
                        .home-product-window(data-offset="bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.2м
                            .home-product-window__size.home-product-window__size_bottom: span 0.8м
                            i.icm.icm-gi11.home-product-window__img
                        .home-product-controls
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus
                                button.home-product-controls__btn.home-product-controls__btn_plus
                            .home-product-controls__handle.tip-container
                                .tip.tip(role="tip" aria-hidden="false") Добавьте створку. <br> Окно глухое!
                            .home-product-controls__value 0
                    .home-product__footer
                        .home-product__price 2100 руб.
                        .home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
                            a(href="$").btn.btn_bd.home-product__btn Добавить
                        .home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
                            | Добавлено
                            button.home-product__del Удалить
            .col.col-sm-6.col-lg-4
                .home-product
                    .home-product__title Двустворчатое
                    .home-product__body
                        .home-product-window(data-offset="bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.4м
                            .home-product-window__size.home-product-window__size_bottom: span 1.3м
                            i.icm.icm-gi2.home-product-window__img
                        .home-product-controls
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus
                                button.home-product-controls__btn.home-product-controls__btn_plus
                            .home-product-controls__handle
                            .home-product-controls__value 0
                    .home-product__footer
                        .home-product__price 4000 руб.
                        .home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
                            a(href="$").btn.btn_bd.home-product__btn Добавить
                        .home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
                            | Добавлено
                            button.home-product__del Удалить
            .col.col-sm-6.col-lg-4
                .home-product
                    .home-product__title Трехстворчатое
                    .home-product__body
                        .home-product-window(data-offset="bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.4м
                            .home-product-window__size.home-product-window__size_bottom: span 2.0м
                            i.icm.icm-gi3.home-product-window__img
                        .home-product-controls
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus
                                button.home-product-controls__btn.home-product-controls__btn_plus
                            .home-product-controls__handle
                            .home-product-controls__value 0
                    .home-product__footer
                        .home-product__price 8700 руб.
                        .home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
                            a(href="$").btn.btn_bd.home-product__btn Добавить
                        .home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
                            | Добавлено
                            button.home-product__del Удалить
            .col.col-sm-6.col-lg-4
                .home-product
                    .home-product__title Балконный выход
                    .home-product__body
                        .home-product-window(data-offset="left bottom right").home-product-window_balk
                            .home-product-window__size.home-product-window__size_left: span 1.3м
                            .home-product-window__size.home-product-window__size_right: span 2.0м
                            .home-product-window__size.home-product-window__size_bottom.home-product-window__size_bottom_multi
                                span 0.9м
                                span 0.68м
                            i.icm.icm-gi4.home-product-window__img
                        .home-product-controls
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus
                                button.home-product-controls__btn.home-product-controls__btn_plus
                            .home-product-controls__handle
                            .home-product-controls__value 1
                    .home-product__footer
                        .home-product__price 8400 руб.
                        .home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
                            a(href="$").btn.btn_bd.home-product__btn Добавить
                        .home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
                            | Добавлено
                            button.home-product__del Удалить
            .col.col-sm-6.col-lg-4
                .home-product
                    .home-product__title Лоджии
                    .home-product__body
                        .home-product-window(data-offset="left bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.4м
                            .home-product-window__size.home-product-window__size_bottom: span 3.5м
                            i.icm.icm-gi5.home-product-window__img
                        .home-product-controls
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus
                                button.home-product-controls__btn.home-product-controls__btn_plus
                            .home-product-controls__handle
                            .home-product-controls__value 2
                    .home-product__footer
                        .home-product__price 15000 руб.
                        .home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
                            a(href="$").btn.btn_bd.home-product__btn Добавить
                        .home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
                            | Добавлено
                            button.home-product__del Удалить
            .col.col-sm-6.col-lg-4
                .home-product
                    .home-product__title дОПОЛНИТЕЛЬНО
                    .home-product__body
                        .home-product-window(data-offset="left bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.2м
                            .home-product-window__size.home-product-window__size_bottom: span 0.8м
                            i.icm.icm-gi11.home-product-window__img
                        .home-product-controls
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus
                                button.home-product-controls__btn.home-product-controls__btn_plus
                            .home-product-controls__handle
                            .home-product-controls__value 0
                    .home-product__footer
                        .home-product__price 2100 руб.
                        .home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
                            a(href="$").btn.btn_bd.home-product__btn Добавить
                        .home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
                            | Добавлено
                            button.home-product__del Удалить
        .row
            .col-12
                .home-products__footer
                    .col-auto: .home-products-total.tip-container Итого: 8400 руб. 
                        .tip.tip(role="tip" aria-hidden="false").home-products-total__tip Цена приблизительная, <br> точный расчет вам <br> предоствит менеджер.
                    .col-auto: a(href="#").btn.btn_primary.home-products__btn Заказать
// END: home products