// START: home-about
section.home-about
    .container.container_big.home-about__top
        h2.h.h_big.h_light.home-about__title Остекление коттеджей и <br> загородных домов
        .row
            .col.col-sm-6.home-about__left
                .home-about-feature
                    .home-about-feature__title теплоизоляция и защита <br> помещений от внешних <br> шумов;
                    .home-about-feature-arrow-container
                        .home-about-feature-arrow.home-about-feature-arrow_1
                            .home-about-feature-arrow__start
                            .home-about-feature-arrow__end
                .home-about-feature
                    .home-about-feature__title замена старых деревянных <br> рам стильными стеклопакетами;
                    .home-about-feature-arrow-container
                        .home-about-feature-arrow.home-about-feature-arrow_2
                            .home-about-feature-arrow__start
                            .home-about-feature-arrow__end
                .home-about-feature
                    .home-about-feature__title качественное остекление <br> новой частной постройки
                    .home-about-feature-arrow-container
                        .home-about-feature-arrow.home-about-feature-arrow_3
                            .home-about-feature-arrow__start
                            .home-about-feature-arrow__end
            .col.col-sm-6.home-about__right
                .home-about-feature
                    .home-about-feature-arrow-container
                        .home-about-feature-arrow.home-about-feature-arrow_reverse.home-about-feature-arrow_4
                            .home-about-feature-arrow__start
                            .home-about-feature-arrow__end
                    .home-about-feature__title установка окон и дверей <br> оригинальной конфигурации (арки, трапеции, <br> круги);
                .home-about-feature
                    .home-about-feature-arrow-container
                        .home-about-feature-arrow.home-about-feature-arrow_reverse.home-about-feature-arrow_5
                            .home-about-feature-arrow__start
                            .home-about-feature-arrow__end
                    .home-about-feature__title индивидуальное <br> декоративное оформление;
                .home-about-feature
                    .home-about-feature-arrow-container
                        .home-about-feature-arrow.home-about-feature-arrow_reverse.home-about-feature-arrow_6
                            .home-about-feature-arrow__start
                            .home-about-feature-arrow__end
                    .home-about-feature__title витражи, тонировка;
                .home-about-feature
                    .home-about-feature-arrow-container
                        .home-about-feature-arrow.home-about-feature-arrow_reverse.home-about-feature-arrow_7
                            .home-about-feature-arrow__start
                            .home-about-feature-arrow__end
                    .home-about-feature__title панорамное остекление;
    .container
        .row
            .col-12.col-md.mb-2.mb-md-0
                .fz-m2.fw-b.mb-1 Изготовление белых МП окон у нас занимает не более 3−5 дней 
                .mb-3.fw-l
                    p.mb-2 Возможна и ламинация как с одной так и с двух сторон, имитирующая натуральное дерево или окрашенноеПВХ в массе. 
                    p.mb-2 На изготовление конструкций на основе ламинированного профиля, выбранной заказчиком расцветки и фактуры, требуется - от 10 дней
                a(href="#").btn.btn_primary Бесплатный вызов замерщика
            .col-12.col-md.ml-md-2
                .text-block.text-block_secondary.align-items-center
                    .col.col-sm-auto: img(src="img/profil.png", alt="")
                    .col.text-dark Универсальный теплоэффективный стеклопакет не только <span class="fw-sb">избавит хозяев от лишних затрат на отопление,</span> но и сделает помещение светлее за счет  высокопрозрачного стекла. 
// END: home-about