// START: home products
section.home-products.py-9#windowCalc
    .container
        h2.h.h_big.mb-5 Готовые изделия
        .row
            .col.col-sm-6.col-lg-4
                .home-product(data-id="1")
                    .home-product__title Одностворчатое
                    .home-product__body
                        .home-product-window(data-offset="bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.2м
                            .home-product-window__size.home-product-window__size_bottom: span 0.8м
                            i.icm.icm-gi11.home-product-window__img
                        .home-product-controls(role="controls")
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus(role="minus")
                                button.home-product-controls__btn.home-product-controls__btn_plus(role="plus")
                            .home-product-controls__handle.tip-container
                                .tip.tip(role="tip" aria-hidden="false") Добавьте створку. <br> Окно глухое!
                            .home-product-controls__value(role="folds") 0
                    .home-product__footer
                        .home-product__price <span role="price">2100</span> руб.
                        .home-product__footer-section.home-product__footer-add
                            a(href="$").btn.btn_bd.home-product__btn(role="addPrice") Добавить
                        .home-product__footer-section.home-product__footer-del
                            | Добавлено
                            button.home-product__del(role="removePrice") Удалить
            .col.col-sm-6.col-lg-4
                .home-product(data-id="2")
                    .home-product__title Двухстворчатое
                    .home-product__body
                        .home-product-window(data-offset="bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.2м
                            .home-product-window__size.home-product-window__size_bottom: span 0.8м
                            i.icm.icm-gi2.home-product-window__img
                        .home-product-controls(role="controls")
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus(role="minus")
                                button.home-product-controls__btn.home-product-controls__btn_plus(role="plus")
                            .home-product-controls__handle.tip-container
                                .tip.tip(role="tip" aria-hidden="false") Добавьте створку. <br> Окно глухое!
                            .home-product-controls__value(role="folds") 0
                    .home-product__footer
                        .home-product__price <span role="price">2100</span> руб.
                        .home-product__footer-section.home-product__footer-add
                            a(href="$").btn.btn_bd.home-product__btn(role="addPrice") Добавить
                        .home-product__footer-section.home-product__footer-del
                            | Добавлено
                            button.home-product__del(role="removePrice") Удалить
            .col.col-sm-6.col-lg-4
                .home-product(data-id="3")
                    .home-product__title Трехстворчатое
                    .home-product__body
                        .home-product-window(data-offset="bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.2м
                            .home-product-window__size.home-product-window__size_bottom: span 0.8м
                            i.icm.icm-gi3.home-product-window__img
                        .home-product-controls(role="controls")
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus(role="minus")
                                button.home-product-controls__btn.home-product-controls__btn_plus(role="plus")
                            .home-product-controls__handle.tip-container
                                .tip.tip(role="tip" aria-hidden="false") Добавьте створку. <br> Окно глухое!
                            .home-product-controls__value(role="folds") 0
                    .home-product__footer
                        .home-product__price <span role="price">2100</span> руб.
                        .home-product__footer-section.home-product__footer-add
                            a(href="$").btn.btn_bd.home-product__btn(role="addPrice") Добавить
                        .home-product__footer-section.home-product__footer-del
                            | Добавлено
                            button.home-product__del(role="removePrice") Удалить
            .col.col-sm-6.col-lg-4
                .home-product(data-id="4")
                    .home-product__title Балконный выход
                    .home-product__body
                        .home-product-window(data-offset="bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.2м
                            .home-product-window__size.home-product-window__size_bottom: span 0.8м
                            i.icm.icm-gi4.home-product-window__img
                        .home-product-controls(role="controls")
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus(role="minus")
                                button.home-product-controls__btn.home-product-controls__btn_plus(role="plus")
                            .home-product-controls__handle.tip-container
                                .tip.tip(role="tip" aria-hidden="false") Добавьте створку. <br> Окно глухое!
                            .home-product-controls__value(role="folds") 0
                    .home-product__footer
                        .home-product__price <span role="price">2100</span> руб.
                        .home-product__footer-section.home-product__footer-add
                            a(href="$").btn.btn_bd.home-product__btn(role="addPrice") Добавить
                        .home-product__footer-section.home-product__footer-del
                            | Добавлено
                            button.home-product__del(role="removePrice") Удалить
            .col.col-sm-6.col-lg-4
                .home-product(data-id="5")
                    .home-product__title Лоджии
                    .home-product__body
                        .home-product-window(data-offset="bottom right")
                            .home-product-window__size.home-product-window__size_right: span 1.2м
                            .home-product-window__size.home-product-window__size_bottom: span 0.8м
                            i.icm.icm-gi5.home-product-window__img
                        .home-product-controls(role="controls")
                            .home-product-controls__btns
                                button.home-product-controls__btn.home-product-controls__btn_minus(role="minus")
                                button.home-product-controls__btn.home-product-controls__btn_plus(role="plus")
                            .home-product-controls__handle.tip-container
                                .tip.tip(role="tip" aria-hidden="false") Добавьте створку. <br> Окно глухое!
                            .home-product-controls__value(role="folds") 0
                    .home-product__footer
                        .home-product__price <span role="price">2100</span> руб.
                        .home-product__footer-section.home-product__footer-add
                            a(href="$").btn.btn_bd.home-product__btn(role="addPrice") Добавить
                        .home-product__footer-section.home-product__footer-del
                            | Добавлено
                            button.home-product__del(role="removePrice") Удалить
           
            .col.col-sm-6.col-lg-4
                .home-product(data-id="6")
                    .home-product__title дОПОЛНИТЕЛЬНО
                    .home-product__body.flex-column.align-items-center
                        .home-product__add.mb-1
                            label.form-label(role="addService" data-service="1")
                                label.checkbox.form-label__input
                                    input(type="checkbox" name="calc_type" role="addServiceInput").checkbox__input
                                    span.checkbox__ico.checkbox__ico_slim
                                    span.checkbox__name
                                .form-label__name Уборка <span class="text-dark fw-sb"><span role="addServicePrice"></span> руб. </span>
                        .home-product__add.mb-1
                            label.form-label(role="addService" data-service="2")
                                label.checkbox.form-label__input
                                    input(type="checkbox" name="calc_type" role="addServiceInput").checkbox__input
                                    span.checkbox__ico.checkbox__ico_slim
                                    span.checkbox__name
                                .form-label__name Монтаж <span class="text-dark fw-sb"><span role="addServicePrice"></span> руб. </span>
                    .home-product__footer
                        .home-product__price <span role="price">2100</span> руб.
                        .home-product__footer-section.home-product__footer-add
                            a(href="$").btn.btn_bd.home-product__btn(role="addPrice") Добавить
                        .home-product__footer-section.home-product__footer-del
                            | Добавлено
                            button.home-product__del(role="removePrice") Удалить
        .row
            .col-12
                .home-products__footer
                    .col-auto: .home-products-total.tip-container Итого: <span role="amount">8400</span> руб. 
                        .tip.tip(role="tip" aria-hidden="false").home-products-total__tip Цена приблизительная, <br> точный расчет вам <br> предоствит менеджер.
                    .col-auto: a(href="#").btn.btn_primary.home-products__btn(rule="order") Заказать
// END: home products