// START: home-rasr
.home-rasr
    .container.container_big
        .row.flex-nowrap
            .col-6.home-rasr-img(data-aos="fade-right")
                .home-rasr-img__img: img(src="img/journal.jpg", alt="").img-responsive
            .col.col-md-6
                h2.h.h_big.ta-left(data-aos="fade-in" data-aos-delay="100") Окна в рассрочку	
                p.mb-4(data-aos="fade-in" data-aos-delay="200") Программа ОКНА В РАССРОЧКУ разработана совместно с банком ООО «Хоум Кредит энд Финанс Банк» для удобства клиентов и позволяет приобрести окна ПВХ, двери ПВХ, лоджии и другую продукцию в рассрочку. Мы стремимся сделать все возможное, чтобы современные и удобные пластиковые окна и двери были в Вашем доме уже сегодня!
                ul.ul.ul_rect.mb-3(data-aos="fade-in" data-aos-delay="300")
                    li минимальный пакет документов для оформления заявки в банк
                    li Срок погашения задолженности – до 6 месяцев
                    li 0% годовых, 0% комиссий
                    li Без справки о доходах
                    li Первый взнос – от 20 до 25 % от суммы покупки
                    li возможность досрочного погашения
                .fz-xs1.text-muted * при условии досрочного погашения
// END: home-rasr