// START: subscribe
.subscribe.py-8.py-md-2
    .container
        .row.align-items-center
            .col.d-none.d-md-block: img(src="img/subscribe-window.png", alt="").subscribe__img
            .col
                form(action="#") 
                    .h.h_big.ta-left.text-light.subscribe__title Подпишись на нашу <br> рассылку бесплатно
                    .input-block.subscribe__input-block
                        .input-block__title Ваш email
                        .input-block__input.mb-3
                            input(type="text" placeholder="name@email.com").input.subscribe__input
                        input(type="submit" value="Подписаться").btn.btn_primary
// END: subscribe