// START: videos
.videos
    .container.container_big
        .h.h_big.mb-5 Видео отзывы наших клиентов
        .row
            .col-12.col-md-8
                .video.videos__main
                    .video-container.mb-2(role="main"): <iframe role="main" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                    .video-title Виктория Вахрушева 32 года
            .col-12.col-md-4
                .videos__list
                    .videos__list-inner.js-scrollbar
                        .videos__list-item
                            .video
                                .video-container.mb-2(role="thumbnails" aria-active="false" style="background-image: url(img/home-fs.jpg)" data-video="https://www.youtube.com/embed/vlDzYIIOYmM")
                                .video-title Юлия Веремеева, 32 года
                        .videos__list-item
                            .video
                                .video-container.mb-2(role="thumbnails" aria-active="false" style="background-image: url(img/home-fs.jpg)" data-video="https://www.youtube.com/embed/G9KDqfpCgws")
                                .video-title Юлия Веремеева, 32 года
                        .videos__list-item
                            .video
                                .video-container.mb-2(role="thumbnails" aria-active="true" style="background-image: url(img/home-fs.jpg)" data-video="https://www.youtube.com/embed/UeaX9ycE23s")
                                .video-title Юлия Веремеева, 32 года
                        .videos__list-item
                            .video
                                .video-container.mb-2(role="thumbnails" style="background-image: url(img/home-fs.jpg)" data-video="https://www.youtube.com/embed/3GYT7J90VRs")
                                .video-title Юлия Веремеева, 32 года
// END: videos