//-title
-var siteName = 'Title';
//-responsive
-var responsive = true;
//- css
-
	var cssList = [
		'https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,900,900i&amp;subset=cyrillic',
		'libs/swiper/dist/css/swiper.min.css',
		'libs/perfect-scrollbar/css/perfect-scrollbar.min.css',
		'libs/fancybox/dist/jquery.fancybox.min.css',
		'libs/icomoon/style.css',
		'css/style.css'
	];
//- javactipt
-
	var scriptList = [
		'libs/jquery/dist/jquery.min.js',
		'libs/swiper/dist/js/swiper.min.js',
		'libs/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js',
		'libs/fancybox/dist/jquery.fancybox.min.js',
		'https://api-maps.yandex.ru/2.1/?lang=ru_RU',
		//- 'libs/perfect-scrollbar/js/perfect-scrollbar.min.js',
		'js/custom.js'
	];