extends _template

block main
	section.content-section.my-9
		.container
			.h.h_big О компании
			.columns2
				p В далеком 1997 году в Брянске открыли первое производство по изготовлению окон ПВХ. Найти работу молодому парню в то время было не так-то просто, и я без раздумий пошел и устроился в эту фирму. Первой моей должностью, которую мне предложили, был сборщик стеклопакетов. За три года работы я сталбригадиром цеха. Я очень полюбил эт у работу, поскольку весь технологический процесс проходил через меня, я тщательно следил за качеством изготавливаемых изделий ПВХ. Спустя некоторое время , а именно в 2000 году, многие мои знакомые и друзья просили, чтобы я им помог сделать качественные окна по приемлемой цене и в быстрые сроки. Тогда-то мне и пришла идея - почему бы не  открыть собственное производство по изготовлению окон ПВХ. На тот момент я еще не накопил достаточно средств для приобретения собственного здания по производству, и первым местом, где я начал работать, стал обычный гараж. 
				p Со временем клиентов становилось больше, размещать все готовые изделия в пределах гаража стало невозможным. За 6 лет я уже достаточно накопил средств, чтобы купить собственное  производство. Выбор пал на здание, расположенное в производственной зоне, а именно в Брянске по проспекту Московскому 99, площадью 453 кв.м.  Первым делом я набрал команду специалистов, разбирающихся во всех процессах от продажи окон до их установки. Закупили новые станки, здание переоборудовали под цеха по производству и изготовлению окон и дверей и цех по изготовлению стеклопакетов, сделали склад, офисы и большую просторную столовую для обеда и отдыха сотрудников. Работа шла полным ходом, заказов становилось все больше, появилась возможность открыть еще офисы продаж. Немалый опыт работы в этой сфере, а также желание предложить вам товар и услуги лучшего качества, послужили объединению усилий - это положило начало основанию моей компании «МАКСИ-ОКНА»
	.container
		.review-personal
			.review-personal__photo: img(src="img/review-personal.jpg", alt="")
			.review-personal__body
				.review-personal__title <span class="text-primary">«</span> Я хочу поблагодарить каждого клиента. <br> Хочу сказать каждому спасибо, что выбрали нас. <br> Мы — надежный партнер. <span class="text-primary">»</span>
				.review-personal__desc С уважением, директор МАКСИ-ОКНА <br> Шестопалов Михаил Николаевич 
	section.content-section.my-9
		.container
			.h.h_big Цель компании
			.columns2
				p Главная цель нашей компании – производить и устанавливать высококачественные оконные конструкции для всех клиентов. На данный момент МАКСИ-ОКНА – один  из лидеров в производстве высококлассных дверей, окон ПВХ. Мы предлагаем клиентам комплекс услуг по замене светопрозрачных конструкций. Мы стараемся предоставлять только качественную продукцию и безупречный сервис. Для этого мы учитываем пожелания и требования своих клиентов.
				p Коллектив компании МАКСИ-ОКНА – это слаженная команда специалистов, работающаявместе с 2006 года, нацеленная на создание лучших решении для заказов. Специально для наших клиентов мы разработали систему цен с гибкой системой скидок и рядом дополнительных услуг. Секрет успеха нашей компании на рынке пластиковых окон в том, что мы в первую очередь ориентируемся не на собственную прибыль, а на удобство, безопасность и комфорт  потребителей, предоставляя максимально  качественные изделия нашим уважаемым клиентам.
	.ta-center: img(src="img/about-decoration.jpg", alt="").img-responsive
	section.content-section.my-9
		.container
			.h.h_big Основные направления компании
			.columns2
				p Окна и двери из пластика на нашем производстве производятся из профилей Rehau, Reachmont, BRUSBOX, алюминиевые конструкции – из профилей Krauss и Provedal, стеклопакеты из стекла производства Pilkington.  Для надежной работы окон и дверей мы используем комплектующие и фурнитуру компаний VHS, МАККО.
				p Мы предлагаем разумные цены и быстрые сроки выполнения заказа. Так, например, срок изготовления пластиковых конструкций на нашем заводе составляет всего один день. Для более подробной информации вы можете обратиться  к <a href="#">менеджерам офиса МАКСИ-ОКНА.</a>


	.services.mb-9
		.row.no-gutters.services__row
			mixin category_item(img,name)
				.col.services__col
					a(href="#").services__item
						.services__image(style="background-image: url("+img+")")
						.services__name=name
			+category_item('img/image2.jpg','Пластиковые окна и двери')
			+category_item('img/image2-1.jpg','Остекленение домов и коттеджей')
			+category_item('img/image3-3.jpg','Остекленение лоджий и балконов')
			+category_item('img/image3-2.jpg','Витражные окна и двери')
			+category_item('img/image2-3.jpg','Панорамное остекленение')
			+category_item('img/image2-2.jpg','Перегородки')
			+category_item('img/image3.jpg','Окна из алюминия')
			+category_item('img/image2-1.jpg','Отделка откосов')
			+category_item('img/image2.jpg','Декорирование окон')
	.whywe
		.container
			.h.h_big Почему именно мы ?
			.row.whywe-icons.justify-content-center
				mixin whywe-item(ico,name)
					.col-6.col-sm-4.col-md
						.whywe-item(role="navItem")
							.whywe-item__ico: i.icm(class=ico)
							.whywe-item__name=name
				+whywe-item('icm-band','Качество продукции')
				+whywe-item('icm-sun-icon','Сохранение тепла')
				+whywe-item('icm-seif','Экономия средств')
				+whywe-item('icm-shield','Гарантия на окна 5 лет')
				+whywe-item('icm-settings','Профессиональный монтаж')
				+whywe-item('icm-lock','Безопасность детей')
				+whywe-item('icm-round-window','Различные модификации окон')
			.row
				.col-12
					.swiper-container.whywe-body
						.swiper-wrapper
							-for(var i=0;i<7;i++)
								.swiper-slide
									.whywe-desc(role="bodyItem")
										.whywe-desc__title=i
											| Гарантия на окна 5 лет
										.whywe-desc__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	include includes/brands
	