extends _template

block main
	include includes/home_slider

	include includes/home_products

	include includes/home_about
	
	include includes/rasr

	include includes/category_big
	
	include includes/subscribe

	include includes/videos
	
	include includes/reviews
	
	include includes/brands
	