extends _template

block main
	// START: home slider
	section.home-slider.swiper-container
		.swiper-wrapper
			.home-slider__item(style="background-image:url(img/home-fs.jpg)").swiper-slide
				.container
					.home-slider__content
						.home-slider__title
							p Узнайте стоимость пластиковых <br> окон с точностью до 95%
						.home-slider__desc
							p=i
							p любой формы и размера
						.home-slider__btn
							a(href="#").btn.btn_primary Бесплатный вызов замерщика
			.home-slider__item(style="background-image:url(img/house.jpg)").swiper-slide.home-slider__item_mask
				.container
					.home-slider__content
						.home-slider__title
							p Узнайте стоимость пластиковых <br> окон с точностью до 95%
						.home-slider__desc
							p=i
							p='любой формы и размера'.split('').reverse().join('')
						.home-slider__btn
							a(href="#").btn.btn_primary Бесплатный вызов замерщика
		.swiper-pagination.swiper-pagination-white
		.swiper-button-next.swiper-button-white
		.swiper-button-prev.swiper-button-white
	// END: home slider

	// START: home products
	section.home-products.py-9
		.container
			h2.h.h_big.mb-5 Готовые изделия
			.row
				.col.col-sm-6.col-lg-4
					.home-product
						.home-product__title Одностворчатое
						.home-product__body
							.home-product-window(data-offset="bottom right")
								.home-product-window__size.home-product-window__size_right: span 1.2м
								.home-product-window__size.home-product-window__size_bottom: span 0.8м
								i.icm.icm-gi11.home-product-window__img
							.home-product-controls
								.home-product-controls__btns
									button.home-product-controls__btn.home-product-controls__btn_minus
									button.home-product-controls__btn.home-product-controls__btn_plus
								.home-product-controls__handle.tip-container
									.tip.tip(role="tip" aria-hidden="false") Добавьте створку. <br> Окно глухое!
								.home-product-controls__value 0
						.home-product__footer
							.home-product__price 2100 руб.
							.home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
								a(href="$").btn.btn_bd.home-product__btn Добавить
							.home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
								| Добавлено
								button.home-product__del Удалить
				.col.col-sm-6.col-lg-4
					.home-product
						.home-product__title Двустворчатое
						.home-product__body
							.home-product-window(data-offset="bottom right")
								.home-product-window__size.home-product-window__size_right: span 1.4м
								.home-product-window__size.home-product-window__size_bottom: span 1.3м
								i.icm.icm-gi2.home-product-window__img
							.home-product-controls
								.home-product-controls__btns
									button.home-product-controls__btn.home-product-controls__btn_minus
									button.home-product-controls__btn.home-product-controls__btn_plus
								.home-product-controls__handle
								.home-product-controls__value 0
						.home-product__footer
							.home-product__price 4000 руб.
							.home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
								a(href="$").btn.btn_bd.home-product__btn Добавить
							.home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
								| Добавлено
								button.home-product__del Удалить
				.col.col-sm-6.col-lg-4
					.home-product
						.home-product__title Трехстворчатое
						.home-product__body
							.home-product-window(data-offset="bottom right")
								.home-product-window__size.home-product-window__size_right: span 1.4м
								.home-product-window__size.home-product-window__size_bottom: span 2.0м
								i.icm.icm-gi3.home-product-window__img
							.home-product-controls
								.home-product-controls__btns
									button.home-product-controls__btn.home-product-controls__btn_minus
									button.home-product-controls__btn.home-product-controls__btn_plus
								.home-product-controls__handle
								.home-product-controls__value 0
						.home-product__footer
							.home-product__price 8700 руб.
							.home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
								a(href="$").btn.btn_bd.home-product__btn Добавить
							.home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
								| Добавлено
								button.home-product__del Удалить
				.col.col-sm-6.col-lg-4
					.home-product
						.home-product__title Балконный выход
						.home-product__body
							.home-product-window(data-offset="left bottom right").home-product-window_balk
								.home-product-window__size.home-product-window__size_left: span 1.3м
								.home-product-window__size.home-product-window__size_right: span 2.0м
								.home-product-window__size.home-product-window__size_bottom.home-product-window__size_bottom_multi
									span 0.9м
									span 0.68м
								i.icm.icm-gi4.home-product-window__img
							.home-product-controls
								.home-product-controls__btns
									button.home-product-controls__btn.home-product-controls__btn_minus
									button.home-product-controls__btn.home-product-controls__btn_plus
								.home-product-controls__handle
								.home-product-controls__value 1
						.home-product__footer
							.home-product__price 8400 руб.
							.home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
								a(href="$").btn.btn_bd.home-product__btn Добавить
							.home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
								| Добавлено
								button.home-product__del Удалить
				.col.col-sm-6.col-lg-4
					.home-product
						.home-product__title Лоджии
						.home-product__body
							.home-product-window(data-offset="left bottom right")
								.home-product-window__size.home-product-window__size_right: span 1.4м
								.home-product-window__size.home-product-window__size_bottom: span 3.5м
								i.icm.icm-gi5.home-product-window__img
							.home-product-controls
								.home-product-controls__btns
									button.home-product-controls__btn.home-product-controls__btn_minus
									button.home-product-controls__btn.home-product-controls__btn_plus
								.home-product-controls__handle
								.home-product-controls__value 2
						.home-product__footer
							.home-product__price 15000 руб.
							.home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
								a(href="$").btn.btn_bd.home-product__btn Добавить
							.home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
								| Добавлено
								button.home-product__del Удалить
				.col.col-sm-6.col-lg-4
					.home-product
						.home-product__title дОПОЛНИТЕЛЬНО
						.home-product__body
							.home-product-window(data-offset="left bottom right")
								.home-product-window__size.home-product-window__size_right: span 1.2м
								.home-product-window__size.home-product-window__size_bottom: span 0.8м
								i.icm.icm-gi11.home-product-window__img
							.home-product-controls
								.home-product-controls__btns
									button.home-product-controls__btn.home-product-controls__btn_minus
									button.home-product-controls__btn.home-product-controls__btn_plus
								.home-product-controls__handle
								.home-product-controls__value 0
						.home-product__footer
							.home-product__price 2100 руб.
							.home-product__footer-section.home-product__footer-add(role="productAddInfo" aria-hidden="false")
								a(href="$").btn.btn_bd.home-product__btn Добавить
							.home-product__footer-section.home-product__footer-del(role="productAddInfo" aria-hidden="true")
								| Добавлено
								button.home-product__del Удалить
			.row
				.col-12
					.home-products__footer
						.col-auto: .home-products-total.tip-container Итого: 8400 руб. 
							.tip.tip(role="tip" aria-hidden="false").home-products-total__tip Цена приблизительная, <br> точный расчет вам <br> предоствит менеджер.
						.col-auto: a(href="#").btn.btn_primary.home-products__btn Заказать
	// END: home products

	// START: home-about
	section.home-about
		.container.container_big.home-about__top
			h2.h.h_big.h_light.home-about__title Остекление коттеджей и <br> загородных домов
			.row
				.col.col-sm-6.home-about__left
					.home-about-feature
						.home-about-feature__title теплоизоляция и защита <br> помещений от внешних <br> шумов;
						.home-about-feature-arrow-container
							.home-about-feature-arrow.home-about-feature-arrow_1
								.home-about-feature-arrow__start
								.home-about-feature-arrow__end
					.home-about-feature
						.home-about-feature__title замена старых деревянных <br> рам стильными стеклопакетами;
						.home-about-feature-arrow-container
							.home-about-feature-arrow.home-about-feature-arrow_2
								.home-about-feature-arrow__start
								.home-about-feature-arrow__end
					.home-about-feature
						.home-about-feature__title качественное остекление <br> новой частной постройки
						.home-about-feature-arrow-container
							.home-about-feature-arrow.home-about-feature-arrow_3
								.home-about-feature-arrow__start
								.home-about-feature-arrow__end
				.col.col-sm-6.home-about__right
					.home-about-feature
						.home-about-feature-arrow-container
							.home-about-feature-arrow.home-about-feature-arrow_reverse.home-about-feature-arrow_4
								.home-about-feature-arrow__start
								.home-about-feature-arrow__end
						.home-about-feature__title установка окон и дверей <br> оригинальной конфигурации (арки, трапеции, <br> круги);
					.home-about-feature
						.home-about-feature-arrow-container
							.home-about-feature-arrow.home-about-feature-arrow_reverse.home-about-feature-arrow_5
								.home-about-feature-arrow__start
								.home-about-feature-arrow__end
						.home-about-feature__title индивидуальное <br> декоративное оформление;
					.home-about-feature
						.home-about-feature-arrow-container
							.home-about-feature-arrow.home-about-feature-arrow_reverse.home-about-feature-arrow_6
								.home-about-feature-arrow__start
								.home-about-feature-arrow__end
						.home-about-feature__title витражи, тонировка;
					.home-about-feature
						.home-about-feature-arrow-container
							.home-about-feature-arrow.home-about-feature-arrow_reverse.home-about-feature-arrow_7
								.home-about-feature-arrow__start
								.home-about-feature-arrow__end
						.home-about-feature__title панорамное остекление;
		.container
			.row
				.col.mb-2.mb-md-0
					.fz-m2.fw-b.mb-1 Изготовление белых МП окон у нас занимает не более 3−5 дней 
					.mb-3.fw-l
						p.mb-2 Возможна и ламинация как с одной так и с двух сторон, имитирующая натуральное дерево или окрашенноеПВХ в массе. 
						p.mb-2 На изготовление конструкций на основе ламинированного профиля, выбранной заказчиком расцветки и фактуры, требуется - от 10 дней
					a(href="#").btn.btn_primary Бесплатный вызов замерщика
				.col.ml-md-2
					.text-block.text-block_secondary.align-items-center
						.col: img(src="img/profil.png", alt="")
						.col.text-dark Универсальный теплоэффективный стеклопакет не только <span class="fw-sb">избавит хозяев от лишних затрат на отопление,</span> но и сделает помещение светлее за счет  высокопрозрачного стекла. 
	// END: home-about
	
	// START: home-rasr
	.home-rasr
		.container.container_big
			.row.flex-nowrap
				.col-6.home-rasr-img
					.home-rasr-img__img: img(src="img/journal.jpg", alt="").img-responsive
				.col.col-md-6
					h2.h.h_big.ta-left Окна в рассрочку	
					p.mb-4 Программа ОКНА В РАССРОЧКУ разработана совместно с банком ООО «Хоум Кредит энд Финанс Банк» для удобства клиентов и позволяет приобрести окна ПВХ, двери ПВХ, лоджии и другую продукцию в рассрочку. Мы стремимся сделать все возможное, чтобы современные и удобные пластиковые окна и двери были в Вашем доме уже сегодня!
					ul.ul.ul_rect.mb-3
						li минимальный пакет документов для оформления заявки в банк
						li Срок погашения задолженности – до 6 месяцев
						li 0% годовых, 0% комиссий
						li Без справки о доходах
						li Первый взнос – от 20 до 25 % от суммы покупки
						li возможность досрочного погашения
					.fz-xs1.text-muted * при условии досрочного погашения
	// END: home-rasr

	// START: category big
	.category-l.bg-muted
		.container.container_big
			.category-l__container(role="background")
				.row.no-gutters.flex-nowrap
					.col
						.category-l-item.active(data-image="img/category-x.jpg" role="section")
							.category-l-item__name Пластиковые окна
					.col
						.category-l-item(data-image="img/house.jpg" role="section")
							.category-l-item__name Пластиковые окна
					.col
						.category-l-item(data-image="img/home-fs.jpg" role="section")
							.category-l-item__name Пластиковые окна
					.col 
						.category-l-item(data-image="img/subscribe.jpg" role="section")
							.category-l-item__name Пластиковые окна
	// END: category big
	
	// START: subscribe
	.subscribe.py-8.py-md-2
		.container
			.row.align-items-center
				.col.d-none.d-md-block: img(src="img/subscribe-window.png", alt="").subscribe__img
				.col
					form(action="#") 
						.h.h_big.ta-left.text-light.subscribe__title Подпишись на нашу <br> рассылку бесплатно
						.input-block
							.input-block__title Ваш email
							.input-block__input.mb-3
								input(type="text" placeholder="name@email.com").input
							input(type="submit" value="Подписаться").btn.btn_primary
	// END: subscribe

	// START: videos
	.videos
		.container.container_big
			.h.h_big.mb-5 Видео отзывы наших клиентов
			.row
				.col-12.col-md-8
					.video.videos__main
						.video-container.mb-2(role="main"): <iframe role="main" width="560" height="315" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						.video-title Виктория Вахрушева 32 года
				.col-12.col-md-4
					.videos__list
						.videos__list-inner.js-scrollbar
							.videos__list-item
								.video
									.video-container.mb-2(role="thumbnails" aria-active="false" style="background-image: url(img/home-fs.jpg)" data-video="https://www.youtube.com/embed/vlDzYIIOYmM")
									.video-title Юлия Веремеева, 32 года
							.videos__list-item
								.video
									.video-container.mb-2(role="thumbnails" aria-active="false" style="background-image: url(img/home-fs.jpg)" data-video="https://www.youtube.com/embed/G9KDqfpCgws")
									.video-title Юлия Веремеева, 32 года
							.videos__list-item
								.video
									.video-container.mb-2(role="thumbnails" aria-active="true" style="background-image: url(img/home-fs.jpg)" data-video="https://www.youtube.com/embed/UeaX9ycE23s")
									.video-title Юлия Веремеева, 32 года
							.videos__list-item
								.video
									.video-container.mb-2(role="thumbnails" style="background-image: url(img/home-fs.jpg)" data-video="https://www.youtube.com/embed/3GYT7J90VRs")
									.video-title Юлия Веремеева, 32 года
	// END: videos
	
	// START: reviews
	.reviews.py-9
		.h.h_big Нас рекомендуют
		.container
			.swiper-container
				.reviews__list.swiper-wrapper
					-for(var i=0;i<5;i++)
						.reviews__item.swiper-slide
							.review
								.review__photo: img(src="img/review.jpg", alt="")
								.review__name Галина Власенко
								.review__desc Установили окна за три часа. Аккуратно убрали все после себя, вынесли мусор.
								.review__rating.rating
									.rating__item
									.rating__item
									.rating__item
									.rating__item
									.rating__item
	// END: reviews
	
	// START: brands
	.brands
		.container.container_big.brands__container
			.brands__list
				.swiper-container
					.swiper-wrapper
						.swiper-slide.brands__item: img(src="img/simonswerk.jpg", alt="").img-responsive
						.swiper-slide.brands__item: img(src="img/danke.jpg", alt="").img-responsive
						.swiper-slide.brands__item: img(src="img/brisbox.jpg", alt="").img-responsive
						.swiper-slide.brands__item: img(src="img/hoppe.jpg", alt="").img-responsive
						.swiper-slide.brands__item: img(src="img/stis.jpg", alt="").img-responsive
						.swiper-slide.brands__item: img(src="img/siegenia.jpg", alt="").img-responsive
				#brandsPrev.swiper-button-prev.swiper-button-black
				#brandsNext.swiper-button-next.swiper-button-black
	// END: brands
	