extends _template

block main
    .header-page(style="background-image: url(img/maco.jpg)")
        .container
            .header-page__content
                .header-page__breadcrumbs
                    ul.breadcrumbs
                        li.breadcrumbs__item: a(href="#").breadcrumbs__link Главная
                        li.breadcrumbs__item: a(href="#").breadcrumbs__link Пластиковые окна
                        li.breadcrumbs__item: a(href="#").breadcrumbs__link Окна REHAU
                .header-page__title Фурнитура Maco
                .header-page__desc Австрийский производитель комплектующих для окон и дверей. Компания была основана в 1947 году г-ном Лоренцем Майером и на сегодняшний день является одним из лидеров в области разработки и производства поворотной и поворотно-откидной фурнитуры для пластиковых и деревянных окон и дверей, фурнитуры для раздвижных конструкций, ставней, а также оконных ручек, дверных замков с взломостойкой защитой для межкомнатных и входных дверей. Концерн имеет три успешно действующих завода на территории Австрии – в Зальцбурге, Трибене и Маутендорфе. 27 мая 2010 года в г. Калуга был официально открыт первый за пределами Австрии завод концерна.
    section.my-9
        .container
            .h.h_big.ta-left.mb-3 Что визуально отличает фурнитуру MACO в первую очередь:
            ul.ul.ul_rect
                li(data-aos="fade" data-aos-delay="100") Знак MACO, выбитый на узловых элементах фурнитуры
                li(data-aos="fade" data-aos-delay="200") Пятизначный номер артикула, выбитый на на всех элементах фурнитуры
                li(data-aos="fade" data-aos-delay="300") Дата производства (месяц и год) на всех функциональных элементах фурнитуры, что имеет приоритетное значение для 10-летней гарантии
                li(data-aos="fade" data-aos-delay="400") Технологическая маркировка размера (номер и диапазон применения) на всех, зависимых от высоты и ширины по фальцу, элементах фурнитуры
                li(data-aos="fade" data-aos-delay="500") Исполнение всех, без исключения, элементов фурнитуры только из литой или прессованной оцинкованной стали
                li(data-aos="fade" data-aos-delay="600") Наличие вдавленного ребра жесткости на внешней шине всех стыкующихся соединительными пластинами элементах фурнитуры
                li(data-aos="fade" data-aos-delay="700") Встроенный блокиратор ошибочного открывания или страховочный приподниматель MATIC на всех поворотно-откидных механизмах
                li(data-aos="fade" data-aos-delay="800") Специально разработанная геометрия стальных регулировочных цапф
                li(data-aos="fade" data-aos-delay="900") Ощутимое восковое покрытие элементов фурнитуры
                li(data-aos="fade" data-aos-delay="1000") Зимнее щелевое проветривание
    section.my-9
        .container
            .h.h_big.ta-left.mb-3 Гарантия качества
            .content-section.mb-4
                p Оконные ручки МАСО сертифицированы в соответствии с требованиями DIN ISO 9002, это <br> означает, что все изделия находятся под постоянным контролем системы качества.
            .row
                .col
                    a(href="img/sert1.jpg" data-fancybox="sertificates").fancybox: img(src="img/sert1-sm.png", alt="").img-responsive
                .col
                    a(href="img/sert2.jpg" data-fancybox="sertificates").fancybox: img(src="img/sert2-sm.png", alt="").img-responsive
                .col
                    a(href="img/sert3.jpg" data-fancybox="sertificates").fancybox: img(src="img/sert3-sm.png", alt="").img-responsive
    section.my-9
        .container
            .h.h_big.ta-left.mb-3 Оконные ручки Maco Emotion
            .content-section.mb-4
                p Фурнитура MACO имеет три вида оконных ручек: HARMONY, SYMPHONY и RHAPSODY. Для каждого модельного ряда доступны несколько цветовых вариантов. Австрийская фирма MACO тщательно следит за качеством материалов и технологией изготовления. Срок службы оконных ручек увеличивается за счет специального покрытия поверхности ручек, устойчивого к воздействию солнечного света и царапинам.
                p В отличие от ручек, покрытых лаком, данная фурнитура менее прихотлива и более долговечна. Компания VHS (Турция) была основана в 1997 году. С 2000 года производится оконная и дверная фурнитура. Продукция фирмы в настоящее время экспортируется болеее чем в 30 стран мира и является одним из самых перспективных решений для отечественных производителей оконных конструкций.
            .row
                .col-12.col-md.mb-3.mb-md-0
                    .handle-item
                        .handle-item__image(style="background-image:url(img/handle1.jpg)")
                        .handle-item__text Регулировка положения створки до 45° для  микропроветривания
                .col-12.col-md.mb-3.mb-md-0
                    .handle-item
                        .handle-item__image(style="background-image:url(img/handle2.jpg)")
                        .handle-item__text Фиксация при помощи ключа или кнопки
                .col-12.col-md.mb-3.mb-md-0
                    .handle-item
                        .handle-item__image(style="background-image:url(img/handle3.jpg)")
                        .handle-item__text Большой выбор среди дизайнов и типоразмеров.
    section.my-9
        .container
            .h.h_big.ta-left.mb-3 Продукция VHS
            .row.align-items-center
                .col-12.col-md
                    .content-section.mb-4
                        p Компания производит самую разную фурнитуру для окон, а именно — защелки, шпингалеты, поворотные запоры, замки и фрамужные системы.  В России продают достаточное количество фурнитуры VHS для окон с поворотно-откидной системой. Ее цена вряд ли порадует вас своей демократичностью.               
                .col-12.col-md-auto.mb-4.mb-md-0
                    img(src="img/vhs.svg", alt="")
            .row.mb-9
                .col-12.col-md.mb-5.mb-md-0
                    ul.ul.ul_rect
                        li(data-aos="fade" data-aos-delay="100") монтаж производится в поворотный паз
                        li(data-aos="fade" data-aos-delay="200") цапфы крепятся в среднем положении
                        li(data-aos="fade" data-aos-delay="300") семь типов регулировки
                        li(data-aos="fade" data-aos-delay="400") можно совместить запоры и петли в двустрочном окне
                        li(data-aos="fade" data-aos-delay="500") петли выдерживают до 130 кг
                        li(data-aos="fade" data-aos-delay="600") вертикальная поворотно-откидная планка еще и подпятник
                        li(data-aos="fade" data-aos-delay="700") ограничители для право- и левостороннего открывания идентичны между собой, чтобы было проще ремонтировать и заменять в случае поломки
                        li(data-aos="fade" data-aos-delay="800") предусмотрены противовзломные механизмы из высоколегируемой стали
                        li(data-aos="fade" data-aos-delay="900") монтаж рамы не зависит от монтажа створки. На фурнитуру нанесено усиленное антикоррозийное покрытие
                .col-12.col-md-auto
                    .bg-muted.p-3
                        p.mb-3.text-m Свяжитесь с нашими специалистами <br> для консультации и помощи <br> в выборе оптимального варианта <br> для ваших окон
                        .vhs-phones
                            a(href="tel:+74832630430") 8 (4832) 63-04-30
                            a(href="tel:+79103333229") 8(910) 333-32-29
                        p.mt-3 Мы предложим вам лучшее!
            .content-section
                .h.h_big.ta-left.mb-3 Антикоррозийное покрытие – <br> повод для гордости VHS
                p Фурнитура VHS проходит тщательную щелочную цинковую обработку. Все компоненты покрываются антикоррозийным серебряные покрытием. Серебряное покрытие – это экологичный процесс, который соответствует Европейским нормам по защите Окружающей среды и стандартам RAL. Для увеличения сопротивления коррозии вся фурнитура покрывается гомогенным составом.
    section.my-9.bd-top-grey
        .container
            .h.h_big.ta-left.mb-3 Siegenia Favorit classic
            .content-section.mb-4
                p Фурнитура Siegenia (Германия) считается одной из самых популярных систем, применяемых для изготовления высококлассных окон и дверей из ПВХ. Многие производители проверили на практике и по достоинству оценили ее возможности. Эта функциональная и надежная система отвечает всем требованиям  дизайна и эксплуатации окна.
            .row
                .col-md-6.mb-4
                    .ico-box
                        .ico-box__ico: img(src="img/snowflake.svg", alt="").img-responsive
                        .ico-box__text
                            .ico-box__name Зимний и летний режим
                            .ico-box__desc Можно самостоятельно регулировать силу прижима створки к раме. Зимой плотнее, летом слабее.
                .col-md-6.mb-4
                    .ico-box
                        .ico-box__ico: img(src="img/frame.svg", alt="").img-responsive
                        .ico-box__text
                            .ico-box__name Предохранитель ошибочного открывания
                            .ico-box__desc Фурнитура не сломается от ошибочных действий при открывании/закрывании окна.
                .col-md-6.mb-4
                    .ico-box
                        .ico-box__ico: img(src="img/shield.svg", alt="").img-responsive
                        .ico-box__text
                            .ico-box__name Защита от провисания створки
                            .ico-box__desc Механизм, который поддерживает створку снизу и защищает её от провисания. Идеален для широкий створок и глубоких стеклопакетов.
                .col-md-6.mb-4
                    .ico-box
                        .ico-box__ico: img(src="img/wind.svg", alt="").img-responsive
                        .ico-box__text
                            .ico-box__name Микропроветривание
                            .ico-box__desc Поверните ручку на 45°, створка отожмётся и по периметру окна появится щель 2-3 мм, через которую будет деликатно поступать свежий воздух, не охлаждая квартиру даже зимой.
            .columns2
                ul.ul.ul_rect.lh-default
                    li(data-aos="fade-right" data-aos-delay="100").mb-3 Возможность поэтапного (ступенчатого) повышения уровня противовзломной защиты посредством применения нового поколения фурнитуры Siegenia Favorite Si-line S-ES
                    li(data-aos="fade-right" data-aos-delay="200").mb-3 Приподниматель створки с роликом (микролифт), работающий в режиме «откинуто». Возможно применение с поворотными приводами
                    li(data-aos="fade-right" data-aos-delay="300").mb-3 Усиленная петлевая группа в стандарте
                    li(data-aos="fade-left" data-aos-delay="100").mb-3 Обширные дополнительные возможности  для самых разнообразных индивидуальных решений
                    li(data-aos="fade-left" data-aos-delay="200").mb-3 Универсальность: все элементы универсальны для правого и левого открывания
                    li(data-aos="fade-left" data-aos-delay="300").mb-3 Поворотно-откидное устройство с компенсатором, устраняющим дребезжание в откинутом положении